<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/review_book_app/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/review_book_app/css/fontawesome-all.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <title>Add Book and Review</title>
</head>
<body>
    <div class="container">
        {#Navbar#}
        <div class="row">
            <nav class="nav nav-pills navbar">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/logout">Logout</a>

            </nav>
        </div>
        {#Forms#}
        <div class="row">
            <div class="col-5">

                <h4>{{ book.title }}</h4>
                <h6>Author: {{ book.author }}</h6>


                {#Cycle through reviews to priint them using a for loop#}

                <h4 class="border-bottom border-dark">Reviews</h4>
                {% for review in set_reviews %}
                    <p class="mb-0">Rating: {{ review.rating }}</p>
                    <p class="mb-0"><a href="/users/{{ review.reviewer.id }}">{{ review.reviewer.alias }}</a>
                        says: {{ review.content }}</p>
                    <p class="mb-0 border-bottom border-dark">Posted on {{ review.created_at }}</p>
                {% endfor %}

            </div>
        <div class="col-1"></div>
            <div class="col-3">
                <form action="/add_review/{{ book.id }}/" method="post">
                    {% csrf_token %}
                    <div class="form-group form-row">

                        <label for="review_text" class="col-form-label">Add a Review:</label>
                        <textarea id="review_text" class="form-control"></textarea>
                    </div>
                    <div class="form-group form-row">

                        <label for="rating_group">Rating</label>
                        <div id="rating_group" class="input-group">
                            <select id="rank" name="rank" class="custom-select">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="rank">stars</label>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">

                        <input type="submit" name="submit" class="btn btn-primary" value="Add Review">
                    </div>


                </form>

            </div>
        </div>
    </div>
</body>
</html>