<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/review_book_app/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/review_book_app/css/fontawesome-all.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <title>Add Book and Review</title>
</head>
<body>
    <div class="container">
        {#Navbar#}
        <div class="row">
            <nav class="nav nav-pills navbar">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/logout">Logout</a>

            </nav>
        </div>
        {#Forms#}
        <div class="row">
            <h4>Book_Title</h4>
            <h5>Book_Author</h5>

            <div class="col-6">
                {#Cycle through reviews to priint them using a for loop#}

                <h4>Reviews</h4>
                <h5>Rating:</h5> User_Book_Rating
                <h6>User_alias</h6> says: User_Book_Content
                <p>Posted on:</p> User_Book_Review_Created_at

            </div>
            <div class="col-6">
                <form action="/add_review"
                <label for="review_text">Add a Review:</label>
                <textarea id="review_text">
                    Other books here
                </textarea>
            </div>
        </div>
    </div>
</body>
</html>