<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/review_book_app/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/review_book_app/css/fontawesome-all.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <title>Welcome</title>
</head>
<body>

    <div class="container">
        {#        Navbar #}
        <div class="row">
            <nav class="nav nav-pills navbar">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/books/add">Add Book and Review</a>

            </nav>
        </div>
        {#        Forms#}
        <div class="row">
            <div class="col-5"><h4>Registration</h4>

                <form action="/register/" method="post">
                    {% csrf_token %}

                    <div class="form-group form-row">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" id="name" name="name" class="form-control">
                    </div>

                    <div class="form-group form-row">
                        <label for="alias" class="col-form-label">Alias:</label>
                        <input type="text" id="alias" name="alias" class="form-control">
                    </div>

                    <div class="form-group form-row">
                        <label for="email" class="col-form-label">Email:</label>
                        <input type="text" id="email" name="email" class="form-control">
                    </div>

                    <div class="form-group form-row">
                        <label for="password" class="col-form-label">Password:</label>
                        <input type="text" id="password" class="form-control" name="password">
                    </div>

                    <div class="form-group form-row">
                        <label for="password_confirm" class="col-form-label">Confirm Password:</label>
                        <input type="text" id="password_confirm" name="password_confirm" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" name="register" value="Register">
                    </div>

                </form>
            </div>
            <div class="col-2"></div>
            <div class="col-5"><h4>Log In</h4>
                <form action="/login/" method="post">
                    {% csrf_token %}

                    <div class="form-group form-row">
                        <label for="email_login" class="col-form-label">Email:</label>
                        <input type="text" id="email_login" name="email_login" class="form-control" value="e@e.com">
                    </div>

                    <div class="form-group form-row">
                        <label for="password_login" class="col-form-label">Password:</label>
                        <input type="text" id="password_login" name="password_login" class="form-control" value="123">
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" name="login" value="Login">
                    </div>


                </form>

            </div>
        </div>
    </div>


</body>
</html>