# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=54b6b801b00fc3c37f4e374eb91bba1202aee6821c22900657cc04ebdcd0ba1db3af92aa52cb01d9e80f2c1cca686cdcdcb69b8a64699035cd6d4db2b248ccf9
REDIS_URL=redis://localhost:6379/15
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
