<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <title>All Four Ninjas</title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Here are the Teenage Mutant Ninja Turtles</h1>
        <img src="../static/img/tmnt.png" alt="Teenage Mutant Ninja Turtles">

    </div>

    <div class="row">
        <div class="col-6">
            <form action="/choice" method="POST" name="colorform">
                <label for="select">Select Your Favorite Color</label>
                <select id="select" class="custom-select" name="color">
                    <option value="blue">Blue</option>
                    <option value="orange">Orange</option>
                    <option value="red">Red</option>
                    <option value="purple">Purple</option>
                </select>
                <input type="submit" id="select" name="select" class="btn btn-outline-info">
            </form>
        </div>
    </div>
</div>


</body>
</html>