<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/courses_app/css/bootstrap.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>

    <title>Hello, world!</title>
</head>
<body>
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <h3 class="text-primary">Are you sure you want to delete the following course?</h3>
                <form action="/delete" method="post">
                    {% csrf_token %}
                    <div class="row">

                        <div class="form-group form-row">
                            <div class="col-auto">
                                <label for="name" class="col-auto col-form-label">Name:</label>

                            </div>
                            <div class="col-auto mr-auto">

                                <input id="name" type="text" value="{{ course_name }}" class="form-control-plaintext"
                                       readonly>
                            </div>

                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group form-row">
                            <div class="col-auto">
                                <label for="description" class="col-auto col-form-label">Description:</label>
                            </div>
                            <div class="col-auto mr-auto">

                                <textarea id="description" class="form-control-plaintext"
                                          readonly>{{ course_description }}</textarea>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">

                            <a href="/" class="btn btn-primary">No</a>
                        </div>
                        <div class="col-auto mr-auto">
                            {#                    @formated:off#}
                            <button type="submit" name="confirm_delete" value="{{ course_id }}" class="btn btn-danger">
                                Yes! I want to delete this
                            </button>
                            {#                    @formated:on#}

                        </div>

                    </div>
                </form>

            </div>
            <div class="col-2"></div>
        </div>
    </div>


</body>
</html>