







.high_jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #b21f2d;
  border-radius: 0.3rem;
}

.low_jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #b21f2d;
  border-radius: 0.3rem;
}