<!DOCTYPE html>
<html lang="en">
<head>
{#    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">#}
{#    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>#}

    <meta charset="UTF-8">
    <title>What's My Name?</title>
</head>
<body>
<form action="/process" method="post">
    <label for="nameID">Your Name:</label>
    <input id="nameID" type="text" name="name">
    <input type="submit" value="Submit Name">


</form>

</body>
</html>