<% content_for :title, "Three-Column Layout"  %>
<% content_for :left_column, "This goes in the left column"  %>
<% content_for :middle_column, "This goes in the middle column"  %>
<% content_for :right_column, "This goes in the right column"  %>

<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>