<h1>User#edit</h1>
<p>Find me in app/views/user/edit.html.erb</p>
<form>
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" name="name" value="<%= @user_edit.name %>">
  </div>
</form>